
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}
.row{
	display: flex;
	flex:1;
	
}

.services{
	background-image: linear-gradient(grey, white);
	padding-right:10px;
	padding-left:10px;
}

.services h1{
	font-family:Tangerine, serif, sans-serif;
	color: green;
	
}

.services p{
	font-size: 3em.
}

.interest{
	background-image: linear-gradient(grey, white);
	padding-left: 10px;
	flex-grow: 2;
}


.interest h1{
	font-family:Tangerine, serif, sans-serif;
	color: green;
	}

ul{
	list-style-type: none;
	margin-right: 20px;
	font-family: Tangerine, serif, sans-serif;
}


/*General Header style */
header{
	background-image:url('../img/money.jpg');
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: black 3px solid;
	}
	
/*header title and nav items */
.name ,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
	color: black;
	text-decoration: none;
	font-weight: bold;
	
}

.name{
	border: solid black .1em;
	background-color: white;
	color: black;
	font-family: Tangerine, serif, sans-serif;
	margin-left: .3em;
	text-shadow: 4px 4px 4px #aaa;
}

.name a{
	color: black;
}

ul li{
	
	border: black solid .1em;
	margin-right: .3em;
	background-color:white;
	
}

/*Link behavior In Header*/
header a:hover{
	color: #cccccc;
	font-weight: bold;
	
}

.first{
	display: block;
	float: left;
	color: green;
	font-size: 3em;
	line-height: .9em;
	font-family: Tangerine, serif, sans-serif;
	margin-right:.1em;
}



	

/* Newsletter Style */
.newsletter{
	display:flex;
	height: 50px;
	display: flex;
}
.container{
	padding-bottom: 5px;
	margin-bottom: 10px;
	}
	

#button{
	background-color:green;
	color: white;
	}
	
#button2{
	float:right;
	margin-right:10px;
	background-color:black;
	color: white;
	
}	
/*Footer style */
.main-footer{
	color: white;
	padding: 1em 0;
	background-image:linear-gradient(green, white);
	text-align: center;
	margin-top: 10px;
}
 
	
/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.main-header,
	.main-nav,
	.row {
		display: flex;
	}
	

	.main-header {
		flex-direction: column;
		align-items: center;
	}

	.col {
		flex: 1 50%;
	}

	
	

	.secondary {
		order: -1;
	}

}

@media(max-width: 769px){
	.services{
		width: 100%;
	}
	.row {
		flex-wrap: wrap;
	}
	
}

@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

	.col {
		flex-basis: 0;
	}

	.primary {
		flex-grow: 1.4;
	}

}